<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>后盾问答</title>
	<meta name="keywords" content="后盾问答"/>
	<meta name="description" content="后盾问答"/>
	<link rel="stylesheet" href="Public/Home/Css/list.css" />
	{hd include file="../Common/top.html"}

	<div id='location'>
		<a href="index.php?c=List&cid=0">全部分类</a>
		{hd section loop=$fatherCate name=n}
			{hd if $smarty.section.n.last}
				&gt;&nbsp;{hd $fatherCate[n].title}&nbsp;&nbsp;
			{hd else}
				&gt;&nbsp;<a href="index.php?c=List&cid={hd $fatherCate[n].cid}">{hd $fatherCate[n].title}</a>&nbsp;&nbsp;
			{hd /if}
		{hd /section}
	</div>

<!--------------------中部-------------------->
	<div id='center'>
		<div id='left'>
			<div id='cate-list'>
				<p class='title'>按分类查找</p>
				<ul>
					{hd foreach from=$sonData item=v}
					<li>
						<a href="index.php?c=List&cid={hd $v.cid}">{hd $v.title}</a>
					</li>
					{hd /foreach}
				</ul>
			</div>
			<div id='answer-list'>
				<ul class='ans-sel'>
					<li {hd if $smarty.get.w == 0} class="on" {hd /if}>
						<a href="./index.php?c=List&cid={hd $smarty.get.cid}&w=0">待解决问题</a>
					</li>
					<li {hd if $smarty.get.w == 1} class="on" {hd /if}>
						<a href="./index.php?c=List&cid={hd $smarty.get.cid}&w=1">已解决</a>
					</li>
					<li {hd if $smarty.get.w == 2} class="on" {hd /if}>
						<a href="./index.php?c=List&cid={hd $smarty.get.cid}&w=2">高悬赏</a>
					</li>
					<li {hd if $smarty.get.w == 3} class="on" {hd /if}>
						<a href="./index.php?c=List&cid={hd $smarty.get.cid}&w=3">零回答</a>
					</li>
				</ul>
				<!-- 待解决问题 -->
				<table>
					<tr>
						<th class='t1'>标题</th>
						<th>回答数</th>
						<th>时间</th>
					</tr>
					{hd foreach from=$data item=v}
						<tr>
							<td class='t1 cons'>
								<a href="index.php?c=Ask&asid={hd $v.asid}&cid={hd $v.cid}">
								<b>{hd $v.reward}</b>{hd $v.content}</a>&nbsp;&nbsp;[{hd $v.title}]
							</td>
							<td>{hd $v.answer}</td>
							<td>{hd $v.time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
						</tr>
					{hd /foreach}
				</table>

			</div>
		</div>
		<!-- 右侧 -->
		{hd include file="../Common/right.html"}
	
	</div>
<!--------------------中部结束-------------------->

	<!-- 底部 -->
	{hd include file="../Common/bottom.html"}
<!-- 												
12345678		         							 	
1234 v5678										   	   12345678	
1234
12  v34 												1234
12
1 v2													12
1														1
			 -->